:root{
    --cor-fundo: #f9caee ;
    --cor-principal: #aa3c64 ;
    --cor-secundaria: #f986b2; 
    --cor-destaque: #f8cee0;
    --cor-texto: #f1cad8;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

h1{
    color: var(--cor-destaque);
    margin-bottom: 20px;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

button:active {
    transform: scale(0.98); /* Efeito de clique */
}

.reiniciar-btn {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    display: none; /* Começa oculto */
}

.reiniciar-btn:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
